# macOS system files
.DS_Store
**/.DS_Store

# Build and distribution folders
build/
dist/

# Python virtual environments
venv/
.env/
.venv/

# Bytecode and cache
*.py[cod]
*.so

# Preview files
markdown_reader/preview.html

__pycache__/
**/__pycache__/
