# macOS system files
.DS_Store
**/.DS_Store

# Build and distribution folders
build/
dist/

# Python virtual environments
venv/
.env/
.venv/

# Bytecode and cache
__pycache__/
*.py[cod]
*.so

# Preview files
markdown_reader/preview.html
markdown_reader/__pycache__/
